{% extends "blank_base.html" %}

{% block content %}
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">{{ persona.nombre }} {{ persona.apellido}}</h6>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-6">
                <p><strong>Contenido:</strong> {{ pedido.contenido }}</p>
                <p><strong>Registro:</strong> {{ pedido.fechaRegistro }}</p>
                <p><strong>Refrigeracion</strong> {{ pedido.requiereFrio }}</p>

            </div>
            <div class="col-md-6">
                <p><strong>Volumen</strong> {{ pedido.volumen }}</p>
                <p><strong>Estado</strong> {{ pedido.pesoTotal }}</p>
                <p><strong>Estado:</strong> {{ pedido.estado }}</p>
                <!--Actions-->
                <div class="row gap-1">
                   
                    <a href="{{ url_for('persona.edit', id=persona.id) }}" class="btn btn-primary">Editar</a>
                    <a href="{{ url_for('persona.delete', id=persona.id) }}" class="btn btn-danger">Eliminar</a>

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}